<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Functions in templates</title>
  </head>
  <body>
    <ul>
      {{range .}}
        <li>{{uc .Name}}
      {{end}}
    </ul>

    <hr>

    <ul>
      {{range .}}
        <li>{{ft .Being}}</li>
      {{end}}
    </ul>

  </body>
</html>
