<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      Format time
    </title>
  </head>
  <body>
    Without formatting: {{ . }}

    With formatting: {{ fdate .}}

  </body>
</html>
